.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-bg {
  background-image: linear-gradient(
      rgba(11, 16, 36, 0.906),
      rgba(61, 61, 61, 0.4)
    ),
    url('../../images/moviesBg.jpg');
}
